<div id="order" class="card w-100 mb-10 bg-primary shadow-xl" style="margin-left: 30px; margin-right: 30px; border-radius: 12px;">
    <div class="card-body" style="border-radius: 12px;">
        <form class="delivery-form">
            <h1 class="form-title">Форма доставки</h1>
            <div class="form-section">
                <h2 class="form-section-title">Контактная информация</h2>
                <div class="form-control">
                    <label for="fullname">ФИО:</label>
                    <input type="text" class="input input-bordered" id="fullname" placeholder="Имя">
                </div>
                <div class="form-control">
                    <label for="email">Электронная почта:</label>
                    <input type="email" class="input input-bordered" id="email" placeholder="Электронная почта">
                </div>
                <div class="form-control">
                    <label for="phone">Номер телефона:</label>
                    <input type="text" class="input input-bordered" id="phone" placeholder="Телефон" maxlength="10">
                </div>
            </div>
            <div class="form-section">
                <h2 class="form-section-title">Адрес доставки</h2>
                <div class="form-control">
                    <label for="city">Город, район города:</label>
                    <input type="text" class="input input-bordered" id="city" placeholder="Бостандыкский район">
                </div>
                <div class="form-control">
                    <label for="address">Адрес:</label>
                    <input type="text" class="input input-bordered" id="address" placeholder="Адрес доставки">
                </div>
            </div>
            <button class="btn btn-ghost btn-active" onclick="processOrder()">Заказать</button>
        </form>
    </div>
</div>

<script>
    const processOrder = () => {

        let full_name = document.getElementById('fullname').value;
        let email = document.getElementById('email').value;
        let city = document.getElementById('city').value;
        let address = document.getElementById('address').value;
        let phone = document.getElementById('phone').value;

        let data = {
            full_name: full_name,
            email: email,
            city: city,
            address: address,
            phone: phone,
        }
        fetch("{% url 'orders:process_order' %}", {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {  "Content-type": "application/json; charset=UTF-8",
                        "X-CSRFToken": "{{csrf_token}}"}
        })
        .then(res => res.json())
        .then(data => {
            alert('Ваш заказ утвержден! менеджеры с вами свяжуться.');
            window.location.href = "{% url 'catalog:homePage' %}"
        });
    }


</script>

<style>

    .card-body{
        background-color: #ccc;
    }

    .delivery-form {
    margin-left: 30px;
    margin-right: 30px;
}

.form-title {
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    font-family: Verdana;
    margin-bottom: 20px;
}

.form-section {
    margin-bottom: 20px;
}

.form-section-title {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 10px;
}

.form-control {
    margin-bottom: 10px;
}

label {
    color: #000000;
    display: block;
}

.input {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.btn {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 6px;
    padding: 8px 16px;
}
</style>