{% extends "../base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block title %}Регистрация{% endblock %}

{% block content %}
<style>
    #hint_id_username, #hint_id_password1, #hint_id_password2 {
        display: none;
    }
</style>
<div class="container mx-auto">
    <div class="card w-100 bg-base-100 shadow-xl" style="margin: 20px; background-color: rgb(231, 232, 231); border-radius: 10px;">
        <div class="card-body">
            <h2 class="card-title mb-5" style="font-size: 28px; font-family: Verdana;">Регистрация</h2>
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
                <p class="mb-5">Если у вас есть аккаунт <a href="{% url "users:loginPage" %}" class="link link-primary">перейдите по этой сслыке</a></p>
              <button class="btn btn-primary" style="background-color: black; color: white; border-radius: 8px; border: none;">зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}