{% extends "../base.html" %}
{% load static %}
{% block title %}Басты бет{% endblock %}

{% block content %}
     <div class="container mx-auto">
          {% if messages %}
        <div class="alert alert-primary shadow-lg">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
            <span>{% for message in messages %}
                        {{ message }}
                    {% endfor %}</span>
          </div>
        </div>
        {% endif %}
     </div>
    <div class="hero bg-base-100">
        <div class="hero-content flex-col lg:flex-row">
          <img src="{% static './images/alternate.jpg' %}" class="max-w-sm rounded-lg shadow-2xl mr-10" />
          <div>
            <h1 class="text-5xl font-bold">Интернет-дәріхана apteka.kz</h1>
            <p class="py-6" style="text-align: justify;">
                Дәрі-дәрмектерге, медициналық мақсаттағы бұйымдарға, балаларға, аналарға, косметикаға және өмірді жеңілдететін заттарға Онлайн тапсырыс беру.
            </p>
            <a href="{% url "catalog:store_home" %}" class="btn btn-primary">Тауарларды қарау</a>
          </div>
        </div>
    </div>
{% endblock %}